* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

/* ------------------------------------ Mobile ------------------------------------ */

@media screen and (min-width: 0px) {
    
}

/* -------------------------------------------------------------------------------- */


/* ------------------------------------ Desktop ------------------------------------ */

@media screen and (min-width: 900px) {
    
}

/* -------------------------------------------------------------------------------- */
