@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');


:root {
    --neutral-white: #FFFFFF;
    --black: #000000;
    --navy-blue: #0D0C22;
    --grey: #53677C;
    --light-blue: #0039FA;
    --orange: #F7A70B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--black)
}

button{
    padding: 16px 36px;
    font-size: 20px;
    font-weight: 600;
    color: var(--neutral-white);
    font-family: 'Syne', sans-serif;
    letter-spacing: 3px;
    background-color: var(--light-blue);
    cursor: pointer;
}

h1, h2, h3, h4{
    font-family: 'Syne', sans-serif;
    line-height: 1.5;
}

.container {
    width: 100%;
}

    /* HEADER */
    .top{
        color: var(--neutral-white);
        background-color: var(--navy-blue);
        font-size: 24px;
        font-weight: 600;
        padding: 24px 0;
        text-align: center;
    }

    .top a{
        color: var(--orange);
    }

    .nav{
        display: flex;
        justify-content: space-between;
        padding: 24px 96px;
        font-size: 24px;
        font-family: 'Syne', sans-serif;
        letter-spacing: 2px;
        /* background: rgba(0, 0, 0, 0.2); */
        width: 100%;
        /* position: sticky;
        top: 0; */
    }

    /* NAVIGATION BAR */

    .nav-left{
        display: flex;
        align-items: center;
    }

    .nav-left .logo__wrapper{
        margin-right: 28px;
        color: var(--neutral-white);
        font-size: 36px;
    }

    .nav-left .dropdown__links{
        margin: 0 18px;
        color: var(--neutral-white);
    }

    .nav-right{
        display: flex;
        align-items: center;
    }
 
    .nav-right a{
        margin: 0 24px;
        color: var(--neutral-white);
    }

    /* HERO SECTION */
    .hero--section{
        padding: 144px 196px;
        background-image: url(/resources/images/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        color: var(--neutral-white);
    }
    .hero--section__text{
        font-size: 56px;
        margin-bottom: 56px; 
    }


    .btn-container a{
        font-size: 24px;
        font-weight: 600;
        margin-left: 12px;
        color: var(--neutral-white);
    }

    /* BLOG SECTION */
.blog-section-wrapper{
    padding: 72px 196px 0 196px;
}

.blog--section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
}

.blog--section-header h2{
    width: 75%;
    font-size: 36px;
}

.blog--section-header a{
    font-size: 24px;
}

.arrow-btns--wrapper i{
    font-size: 36px;
    cursor: pointer;
}

.arrow-btns--wrapper .right-btn{
    margin-left: 24px;
}

.blog--section__main{
    width: 100%;
    display: flex;
	align-items: center;
	overflow-x: auto;
}

.blog--section__main::-webkit-scrollbar{
    display: none;
}

.blog{
    min-width: 380px;
    width: 380px;
    height: 523.07px; 
    margin-right: 20px;
    border: 1px solid #000;

    position: relative;
	left: 0;
	transition: 0.5s;
}

.blog__img--wrapper{
    width: 100%;
    height: 250px;
    background-color: #000;
}

.blog__description--wrapper{
    margin: 0 24px;
}

.blog__description--wrapper h3{
    margin: 26px 0;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1.5px;
    height: 100px;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
}

.blog__genre--wrapper{
    margin: 24px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Syne', sans-serif;
}

/* PROGRAMMING COURSES SECTION */
.programming-section-wrapper{
    padding: 72px 196px;
    text-align: center;
}

.programming-section-wrapper .section-header{
    text-align: left;
    margin-bottom: 72px;
}

.tutorials-wrapper{
    display: flex;
    justify-content: space-between;
}

.tutorials{
    width: 160px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 72px;
}

.tutorials img{
    width: 60px;
    height: 60px;
    margin-bottom: 36px;
}

/* WHAT WE DO SECTION */
.what-we-do-section{
    padding: 72px 196px;
    text-align: center;
    background-color: grey;
}

.what-we-do-section .section-header{
    text-align: center;
    font-size: 56px;
    padding: 72px 0;
}

.what-we-do-wrapper{
    display: flex;
    justify-content: space-between;
}

.what-we-do{
    width: 450px;
    text-align: left;
}

.what-we-do .img-wrapper{
    display: inline-block;
    text-align: center;
    background-color: #fff;
    padding: 18px;
    width: 72px;
    margin-bottom: 36px;
}

.what-we-do .img-wrapper i{
    font-size:24px;
}

.what-we-do h2{
    margin-bottom: 36px;
    font-size: 24px;
}

.what-we-do p{
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    margin-bottom: 48px;
}

/* PROMOTION SECTION */
.promotions-section{
    text-align: center;
    padding: 72px 196px;
}

.our-benefits h3{
    padding: 72px 0;
    font-size: 24px;
    letter-spacing: 1.3px;
    text-align: left;
}

.sponsors-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsors-wrapper img{
    width: 150px;
}

/* TESTIMONIALS SECTION */

.promotions-section h1{
    font-size: 56px;
    margin: 72px 0 56px 0;
}


/* FOOTER SECTION */
.footer-wrapper{
    padding: 0 108px 60px 108px;
    background-color: var(--navy-blue);
    color: var(--neutral-white);
}

.footer-subscribe-section{
    display: flex;
    justify-content: space-between;
    padding: 74px 56px;
}

.newsletters-section h2{
    font-size: 36px;
}

.newsletters-section p{
    font-size: 22px;
    font-family: 'Syne', sans-serif;
    margin-bottom: 12px;
}

.newsletters-section p a{
    color: var(--neutral-white);
    font-weight: 600;
    font-family: 'Syne', sans-serif;
    text-decoration: underline;
}

.form input[type="text"] {
    padding: 30px;
    width: 600px;
    font-size: 22px;
    background-color: rgb(44 68 94 / 1 );
    color: var(--neutral-white);
}

.form button{
    padding: 30px;
    font-size: 22px;
}

.footer-nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 56px;
}

.footer-nav{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.footer-nav a{
    color: var(--neutral-white);
    font-size: 56px;
    font-family: 'Syne', sans-serif;
    margin-bottom: 28px;
}

.nav-links{
    display: grid;
    grid-template-columns: auto auto;
    width: 50%;
}

.nav-links a{
    font-size: 20px;
    font-family: 'Syne', sans-serif;
    color: var(--neutral-white);
}

.follow-us h4{
    font-size: 20px;
    margin-bottom: 18px;
}

.follow-us i{
    font-size: 28px;
    margin-left: 12px;
}

@media (max-width: 1440px){

    button{
        padding: 12px 28px;
    }
    .nav{
        display: none;
    }

    /* HERO SECTION */

    .hero--section{
        padding: 96px 120px;
    }

    .hero--section__text{
        font-size: 42px;
        margin-bottom: 46px;
    }

    .blog-section-wrapper{
        padding: 72px 120px 0 120px;
    }

    .blog--section-header{
        padding-bottom: 24px;
    }

    /* PROGRAMMING COURSES SECTION*/
    .programming-section-wrapper{
        padding: 96px 120px;
    }

    .programming-section-wrapper .section-header{
        margin-bottom: 48px;
    } 

    .tutorials{
        margin-bottom: 36px;
    }

    /* WHAT WE DO SECTION */

    .what-we-do-section{
        padding: 96px 120px;
    }

    .what-we-do-section .section-header{
        font-size: 42px;
        padding: 48px 0;
    }

    .what-we-do{
        width: 300px;
    }

    .what-we-do h2{
        height: 72px;
        margin-bottom: 12px;
    }

    /* PROMOTION SECTION */

    .promotions-section{
        padding: 96px 120px;
    }

    /* FOOTER */

    .footer-wrapper{
        padding: 0 80px 32px 80px;
    }

    .footer-subscribe-section{
        padding: 36px 24px;
    }

    .newsletters-section h2{
        font-size: 28px;
    }

    .newsletters-section p{
        font-size: 18px;
    }

    .newsletters-section p a{
        display: block;
    }

    .form input[type="text"] {
        width: 350px;
        padding: 18px;
    }

    .form button{
        padding: 18px;
    }

    .footer-nav-wrapper{
        padding: 0 28px;
    }

    .footer-nav a{
        font-size: 38px;
        font-weight: 500;
        margin-bottom: 28px;
    }
}

@media (max-width: 1150px){
    .hero--section{
        padding: 64px 86px;
    }

    .hero--section__text{
        font-size: 38px;
        margin-bottom: 36px;
    }

    .blog-section-wrapper{
        padding: 64px 86px 0 86px;
    }

    .programming-section-wrapper{
        padding: 64px 86px;
    }

    .what-we-do-section{
        padding: 64px 86px;
    }

    .what-we-do-wrapper{
        padding: 0 36px;
    }

    .what-we-do{
        width: 250px;
    }

    .newsletters-section p{
        font-size: 15px;
    }

    .form input[type="text"] {
        width: 300px;
    }

    .form button{
        font-size: 18px;
        padding: 18px 12px;
    } 
}

@media screen and (max-width: 1050px) {

    /* HERO SECTION */
    .hero--section__text br{
        display: none;
    }



    /* PROGRAMMING COURSES SECTION */

    .tutorials-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* WHAT WE DO SECTION */
    .what-we-do-wrapper{
        flex-direction: column;
    }

    .what-we-do{
        width: 100%;
    }

    .what-we-do .img-wrapper{
        margin-bottom: 8px;
    }

    .what-we-do h2{
        height: auto;
        margin-bottom: 8px;
    }

    /* PROMOTION SECTION */
    .sponsors-wrapper{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .sponsors-wrapper .img-container{
        margin-bottom: 42px;
    }
    /* FOOTER */
   .footer-subscribe-section{
    flex-direction: column;
   }
   
   .form input[type="text"]{
    width: 70%;
   }

   .footer-nav-wrapper{
    flex-direction: column;
   }

   .footer-nav{
    width: 100%;
   }

   .nav-links{
    width: 100%;
   }
}

@media screen and (max-width: 768px) {
    /* HERO SECTION */

    .hero--section__text{
        font-size: 28px;
    }

    .tutorials-wrapper{
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .tutorials{
        margin-left: 16px;
        width: 200px;
    }

    .what-we-do-section .section-header{
        font-size: 30px;
    }

    .what-we-do-section .section-header br{
        display: none;
    }

    .sponsors-wrapper{
        grid-template-columns: auto auto;
    }

    .footer-nav a{
        font-size: 24px;
    }

}

@media screen and (max-width: 670px){
    button{
        padding: 8px 12px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .hero--section{
        padding: 32px 36px;
    }

    .hero--section__text{
        font-size: 24px;
    }

    .btn-container a{
        font-size: 18px;
    }

    .blog-section-wrapper{
        padding: 32px;
    }

    .blog--section-header h2{
        font-size: 22px;
    }

    .blog--section-header a{
        font-size: 16px;
    }

    .arrow-btns--wrapper i{
        font-size: 16px;
    }

    .arrow-btns--wrapper .right-btn{
        margin-left: 6px;
    }

    .blog{
        width: 260px;
        min-width: 260px;
        height: auto;
        margin-right: 8px;
    }

    .blog__img--wrapper{
        height: 180px;
    }

    .blog__description--wrapper{
        margin: 0 8px;
    }

    .blog__description--wrapper h3{
        margin: 8px 0;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        height: 70px;
    }

    .details{
        margin: 8px 0;
        font-size: 14px;
    }

    .blog__genre--wrapper{
        margin: 8px;
        font-size: 14px;
    }

    .programming-section-wrapper{
        padding: 32px 36px;
    }

    .programming-section-wrapper .section-header{
        margin-bottom: 18px;
    }

    .tutorials{
        margin-left: 8px;
        width: 120px;
        height: auto;
    }

    .tutorials h3{
        font-size: 16px;
    }

    .what-we-do-section{
        padding: 32px 36px;
    }

    .what-we-do-section .section-header{
        padding: 12px;
    }

    .promotions-section{
        padding: 32px 36px;
    }

    .our-benefits h3{
        font-size: 18px;
    }

    .sponsors-wrapper{
        grid-template-columns: auto;
        justify-content: center;
    }

    .footer-wrapper{
        padding: 16px 18px;
    }

    .form input[type="text"]{
        width: 55%;
    }

    .footer-nav a{
        font-size: 20px;
    }

    .footer-wrapper .nav-links a{
        font-size: 15px;
    }
}
